/min_max_main/ip_upgrade.log
/min_max_main/min_max_main.sim/sim_1/behav/xsim
/min_max_main/min_max_main.sdk
/min_max_main/min_max_main.runs
/min_max_main/min_max_main.ip_user_files
/min_max_main/min_max_main.sim/sim_1/behav/xsim
/ip_repo/minmax_ip_1.0/example_designs
/min_max_main/min_max_main.cache
/min_max_main/min_max_main.sim/sim_1/behav/xsim
/min_max_main/min_max_main.cache/wt
/min_max_main/min_max_main.sim/sim_1/behav/xsim
/min_max_main/Packages/.cache
/min_max_main/min_max_main.sim/sim_1/synth/func/xsim
